.start-bootstrap{
    background-color: green;
}

.start-bootstrap-box{
    height: 300px;
}

.square-box{
    background-color: grey;
    border: 3px solid red;
    height: 200px;
    margin-bottom: 30px;
}
