.start-bootstrap{
    background-color: green;
}

.start-bootstrap-box{
    height: 300px;
}

.square-box{
    background-color: grey;
    border: 3px solid red;
    height: 350px;
    margin-bottom: 30px;
}

section{
    margin-bottom: 100px;
}

#first-part-footer{
    background-color: gray;
}